<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Git Consumer!</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <% if current_user  %>
          <li><%= "Hello, #{current_user.name}" %></li>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Login", github_login_path %></li>
        <% end %>
    </ul>
  </div>
</nav>
